<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File fetch | signUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="header">
            <label><b><h1>File fetch</h1></b></label>
        </header>
        <main>
            <form class="SignUp" action="logIn.html">
                <label class="SignUp-title">sign Up</label>
                <div class="Username-input">
                    <label for="username-input-field">Username</label>
                    <input class="username-field" id="SignUP-username-input-field" type="text" required>
                </div>
                <div class="Password-input">
                    <label for="password-input-field">password</label>
                    <input class="password-field" id="SignUP-password-input-field" type="password" required>
                </div>
                <div class="Conf-Password-input">
                    <label for="confarm-password-input-field">confarm password</label>
                    <input class="passwordConf-field" id="SignUP-confarm-password-input-field" type="password" required>
                </div>
                <form class="Button-container" id="Signup-page-contant">
                    <input class="Signpage-button" id="Signup-page-button-input" type="submit" value="Sign up">
                </form>
            </form>
            <div>
                <form class="back-to-login" id="back-to-login">
                    <input class="back-to-login-button" type="submit" value="have an account Log In">
                </form>
            </div>
        </main>
        <link rel="stylesheet" href="../static/style.css">
        <script>
            let username = document.getElementById('SignUP-username-input-field').value;
            let password = document.getElementById('SignUP-password-input-field').value;
            let confPassword = document.getElementById('SignUP-confarm-password-input-field').value;

            document.getElementById("Signup-page-contant").addEventListener('submit', (evt)=>{
                if(password === confPassword){
                    fetch('http://localhost:8080/SignUp', {
                        method: 'POST',
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({username, password})
                    }).then(res => res.json()).then(data =>{
                        if(data.SignedUp){
                            window.location.href = '../pages/logIn.html';
                        }else{
                            alert('unable to sign up right now plaese try agine later');
                        }
                    });
                }else{
                    alert('the Password and the Confermation must be the same');
                }
            });

        </script>
    </body>
</html>